<html>
<head></head>
<body>
    <div>
    <h1>Testing Web Application</h1>
    </div>
    <form action="/submit" method="post">
    Input your message: <input type="text" name="script_input" style="width: 30%">
    <div style = "position:absolute; top: 100px; left: 10px"><input type="submit" name="" value="Submit"></input></div>
    </form> 
</body>
</html>