.italic::placeholder {
    font-style: italic;
}


.custom-background {
    color: #0f98f4; 
    border: 8px solid #32a2ed; 
    border-radius: 15selecpx;
    margin-bottom: 0px;
}

.custom-card {
    margin-top: 20px;
    color: #0f98f4; 
    border: 8px solid #32a2ed; 
    border-radius: 15px;

}

.navbar .container {
    cursor: default;
}

.navbar {
    background-color: #f03d88;
}


.navbar h1 {
    color: #ffffff;
}

body > .container {
    padding-top: 30px;
}




.alert-pink {
    background-color: #fdcee7; 
    color: #f03d88;
}

